<div class="wrapper sidebar-mini">
  <%= render 'layouts/sidebar' %>
  <div class="main-panel">
    <%= render 'layouts/dashboard_nav' %>
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8">
            <div class="card">
              <div class="card-header">
                <h3>Your Profile
                  <p class="category">
                    update the fields below to help us stay in touch with you
                  </p>
                </h3>
              </div>
              <div class="card-content">
                <%= render 'edit_reg_form' %>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
              <div class="card-avatar">
                <%= image_tag('faces/marc.jpg') %>
              </div>
              <div class="card-content">
                <a href="#" class="btn btn-rose btn-round">Update picture</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
