<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Upcoming Events You're Following<br />
          <small><%= link_to 'See all events', events_path %></small>
        </h4>
      </div>
      <div class="card-content">
        <% @user.followed_events.each do |event| %>
          <%= render partial: 'events/event', object: event %>
        <% end %>
      </div>
    </div>
  </div>
</div>
