<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">
          Memory Verses</br>
          <small><%= link_to 'See them all'.html_safe, memory_verses_path %></small>
        </h4>
      </div>
      <div class="card-content">
        <div class="row">
          <% @memory_verses.limit(3).each do |verse| %>
            <%= render partial: 'memory_verses/memory_verse', object: verse %>
          <% end %>
        </div>
      </div>
      <% if current_user.admin? %>
        <div class="card-footer">
          <%= link_to 'add new', new_memory_verse_path %>
        </div>
      <% end %>
    </div>
  </div>
</div>
