<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header" data-background-color="green">
        <h4 class="card-title">
          Ministry
          <p class="category">Add a new ministry below</p>
        </h4>
      </div>
      <div class="card-content">
        <div class="form-horizontal">
          <%= render 'form' %>
        </div>
        <%= link_to 'Back', memory_verses_path %>
      </div>
    </div>
  </div>
</div>
